.app-container {
    padding: 60px;
}

.video-section-card {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 30px;
}

.video-section-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.video-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.video-container video {
    width: 400px;
    border-radius: 15px;
}

.video-content {
    max-width: 50%;
}

.live-badge {
    background-color: #ff4c4c;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
}

.video-content h1 {
    margin: 0 0 10px 0;
}

.video-content p {
    margin: 0 0 10px 0;
}

.tags {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.tag {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px 10px;
    border-radius: 5px;
}

.btn-watch {
    padding: 10px 20px;
    background-color: #6a5acd;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.dashboard {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
}

.targeta-educacion {
    background-color: #d7e8e1;
    padding: 20px;
    border-radius: 15px;
    width: 30%;
    min-width: 250px;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
    color: rgb(18, 17, 17);
    transition: transform 0.3s, box-shadow 0.3s;
}

.targeta-educacion:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #9ec2b4;
    
}
.targeta-capacitacion {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

.targeta-educacion h3 {
    margin-bottom: 10px;
}

.change {
    display: block;
    margin-top: 10px;
}

.positive {
    color: #4caf50;
}

.negative {
    color: #f44336;
}

.closed {
    color: red;
    font-weight: bold;
}

.app-container .btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #26a69a;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.config {
    margin-top: 40px;
    text-align: center;
}

.btn-add {
    padding: 10px 20px;
    background-color: #4caf50;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}